.about-container {
   background-color: #f0fbe2;
   margin-top: -8px;
}

#aboutme {
   width: 100;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
   padding: 15% 12vw 15% 12vw;
}

#aboutme h1 {
   font-family: 'Poppins';
   font-size: 32px;
   color: #494949;
}

#aboutme p {
   width: 50vw;
   text-align: justify;
   font-family: 'Poppins';
   font-weight: 350;
   text-indent: 7%;
}