header {
   display: flex;
   margin: 4vh 10vw;
   align-items: center;
   justify-content: space-between;
}

header .logo-name {
   display: flex;
   align-items: center;
   gap: 20px;
}

header .logo-name img {
   width: 50px;
}

header .logo-name h1 {
   font-family: 'Segoe UI', sans-serif;
   font-size: 32px;
   font-weight: 800;
   color: #222;
}

header nav ul {
   display: flex;
   gap: 30px;
}

header nav ul li {
   list-style-type: none;
}

header nav ul li a {
   text-decoration: none;
   color: #494949;
   font-family: 'Poppins';
   font-weight: 700;
   letter-spacing: 1px;
   transition: all .0s ease-in-out;
}

header nav ul li a:hover {
   border-bottom: 2px solid #333;
}